---
layout: base.liquid
pagination:
    data: all_artifacts
    size: 1
    alias: artifact
permalink: "artifacts/{{ artifact.id }}/"
eleventyComputed:
    title: "{{ artifact.name }} (#{{ artifact.id }}) | monkey see..."
---

<div style="width: 1000px;">
  <div>
    <a href="{{ artifact.external_url }}" target="_blank" rel="noopener noreferrer" class="text-orange">{{ artifact.name }}</a>
    {% if artifact.attunementMods %}
      {% formatAttunementMods artifact.attunementMods %}<br />
    {% endif %}
    {% if artifact.witchId %}
      attuned to <a href="{{ "/witches/" | append: artifact.witchId | url }}" class="text-orange">WITCH {{ artifact.witchId }}</a><br />
    {% endif %}
    <br />
  </div>
  <div>{{ artifact.description }}</div><br />
  <div style="display: flex; align-items: end; justify-content: space-between">
    <div style="width: 400px; height: 400px; border: 1px solid rgba(255, 255, 255, 0.4);">
      <iframe
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        frameborder="0"
        height="100%"
        sandbox="allow-scripts"
        src="{{artifact.animation_url}}" width="100%">
      </iframe>
    </div>
    <a href="{{ artifact.image }}" class="text-orange" style="width: 400px; display: flex; flex-direction: column; align-items:center;">
      <div>RIGHT CLICK SAVE</div>
      <img style="border: 1px solid rgba(255, 255, 255, 0.4);" src="{{ artifact.image }}"></img>
    </a>
  </div>
</div>
