---
layout: base.liquid
pagination:
    data: artifacts_and_witches
    size: 1
    alias: entry
permalink: "witches/{{ entry.witch.id }}/"
eleventyComputed:
    title: "{{ entry.witch.name }} (#{{ entry.witch.id }}) | monkey see..."
---

{% assign witch = entry.witch %}
{% assign artifacts = entry.artifacts %}

<div style="width: 1000px; display: flex; flex-direction: column; align-items: center;">
  <div style="width: 180px; border: 1px solid rgba(255, 255, 255, 0.4);">
      <img src="{{ witch.image }}"></img>
  </div>
  <div><a href="https://cryptocoven.xyz/witches/{{ witch.id }}" target="_blank" rel="noopener noreferrer" class="text-orange display: block;">{{ witch.name }}</a></div>

  <div style="display: flex; gap: 16px; margin-top: 24px;">
    {% assign sorted = artifacts | sort: "artifactId" %}
    {% for artifact in sorted %}
      <div>
          <a href="{{ "/artifacts/" | append: artifact.id | url}}" style="width: 180px; display: flex; flex-direction: column; align-items:center;">
          <img style="border: 1px solid rgba(255, 255, 255, 0.4);" src="{{ artifact.image }}"></img>
          <div>{{ artifact.name }}</div>
          {% if artifact.attunementMods %}
            {% formatAttunementMods artifact.attunementMods %}
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
